.section-1{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.floating-bg{
    width: 150vw;
    height: 150vw;
    background-color: rgba(50,231,255, .8);
    position: absolute;
    top: -125vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
                    -webkit-animation: rotate 30s infinite;
                            animation: rotate 30s infinite;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(50, 231, 255, .1);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 40%;
        -webkit-animation: rotate 30s infinite;
        animation: rotate 30s infinite;
    }
}

.navbar{
    position: relative;
    z-index: 20;
}


@-webkit-keyframes rotate{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes rotate{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}